* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.row{
  margin: 0;
}
.content {
  padding: 20px 0 0 150px;
}
.slider-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 200;
  height: 100%;
  border-left: 3px solid #f2f2f2;
}
.slider-menu .list-item{
  width: 100%;
  padding: 40px 0 0 40px;
}

.slider-menu .list-item li{
  line-height: 34px;
}
