.WdateDiv{
    position:relative;
    width:190px;
    font-size:12px;
    color:#333;
    border:1px solid rgb(18, 192, 254);
    background-color:rgba(9, 14, 50, 1);
    padding:5px;
}

.WdateDiv2{
    width:360px;
}

.WdateDiv .NavImg a,.WdateDiv .yminput,.WdateDiv .yminputfocus,.WdateDiv #dpQS{
    background:url(img.gif) no-repeat;
}

.WdateDiv .NavImg a{
    float:left;
    width:16px;
    height:16px;
    cursor:pointer;
}

.WdateDiv .NavImgll a{
    background-position:0 5px;
}

.WdateDiv .NavImgl a{
    background-position:0 -10px;
}

.WdateDiv .NavImgr a{
    background-position:0 -25px;
    float:right;
}

.WdateDiv .NavImgrr a{
    background-position:0 -40px;
    float:right;
}

.WdateDiv #dpTitle{
    line-height:0;
    height:23px;
    padding:3px 0 0;
}

.WdateDiv .yminput,.WdateDiv .yminputfocus{
    margin-left:12px;
    width:44px;
    height:20px;
    line-height:16px;
    border: 0;
    border-bottom:1px solid rgb(18, 192, 254);
    outline: none;
    cursor:pointer;
    background-position:35px -68px;
    font-size: 12px;
    color: #ddd;
}

/* .WdateDiv .yminputfocus{
    background-color:transparent;
    border:1px solid rgb(18, 192, 254);
} */

.WdateDiv .menuSel{
    z-index:1;
    position:absolute;
    background-color:#FFF;
    border:1px solid rgb(18, 192, 254);
    display:none;
}

.WdateDiv .menu{
	background: rgb(9, 14, 50);
}

.WdateDiv .menuOn{
    color:rgb(18, 192, 254);
	background: rgb(9, 14, 50);
}

.WdateDiv .MMenu,.WdateDiv .YMenu{
    margin-top:20px;
    margin-left:-1px;
    width:68px;
    border:1px solid rgb(18, 192, 254);
    padding:2px;
    background: rgb(9, 14, 50);
}

.WdateDiv .MMenu table,.WdateDiv .YMenu table{
    width:100%;
}

.WdateDiv .MMenu table td,.WdateDiv .YMenu table td{
    line-height:20px;
    text-align:center;
    font-size:12px;
    cursor:pointer;
    padding:0;
    background: rgb(9, 14, 50);
}

.WdateDiv .Wweek{
    text-align:center;
    background:#DAF3F5;
    border-right:1px solid rgb(18, 192, 254);
}

.WdateDiv td{
    line-height:20px;
    font-size:12px;
    color:#ddd;
    /* background:rgba(255, 255, 255, 0.1); */
    cursor:pointer;
    padding:1px;
}

.WdateDiv .MTitle{
	background: rgb(9, 14, 50);
}

.WdateDiv .MTitle td{
    line-height:24px;
    color:#fff;
    background:rgba(255, 255, 255, 0.1);
    cursor:default;
}

.WdateDiv .WdayTable2{
    border-collapse:collapse;
    border:1px solid rgb(18, 192, 254);
}

.WdateDiv .WdayTable2 table{
    border:0;
}

.WdateDiv .WdayTable{
    line-height:20px;
    color:#13777e;
    /* background-color:#edfbfb; */
}

.WdateDiv .WdayTable td{
    text-align:center;
	/*background: rgb(9, 14, 50);*/
}
/*
.WdateDiv .WdayTable td:hover{
	color: rgb(18, 192, 254);
}
*/
.WdateDiv .Wday{
    color:#ddd;
}

.WdateDiv .Wwday{
    color:rgb(18, 192, 254);
}

.WdateDiv .Wtoday{
    color:#FF6D10;
    /* background:#E0EDFE; */
}

.WdateDiv .WspecialDay{
    background-color:#66F4DF;
}

.WdateDiv .WotherDay{
    color:#666;
}

.WdateDiv #dpTime{
    position:relative;
    margin-top:5px;
}

.WdateDiv #dpTime #dpTimeStr{
    display:inline-block;
    width:30px;
    color:#fff;
}

.WdateDiv #dpTime input{
    width:25px;
    height:20px;
    line-height:20px;
    text-align:center;
    color:#fff;
    border: 0;
    border-bottom:1px solid rgb(18, 192, 254);
    margin:0;
    padding:0;
    background: transparent;
    outline: none;
}

.WdateDiv #dpTime .tm{
    width:7px;
    border:none;
    background:transparent;
    color: #fff;
}

.WdateDiv #dpQS{
    float:left;
    margin-right:3px;
    margin-top:6px;
    width:16px;
    height:16px;
    cursor:pointer;
    background-position:0 -90px;
}

.WdateDiv #dpControl{
    text-align:right;
    margin-top:3px;
}

.WdateDiv .dpButton{
    margin-left:2px;
    line-height:16px;
    width:45px;
    color:#fff;
    border:none;
    cursor:pointer;
    font-size: 12px;
    border: 1px solid rgb(18, 192, 254);
    border-radius: 2px;
    background: transparent;
}

.WdateDiv .dpButton:hover{
    color: rgb(18, 192, 254);
}

.WdateDiv .hhMenu,.WdateDiv .mmMenu,.WdateDiv .ssMenu{
    position:absolute;
    font-size:12px;
    color:#ddd;
    border:1px solid rgb(18, 192, 254);
    background-color:rgb(9, 14, 50);
    padding:3px;
}

.WdateDiv #dpTime .menu,.WdateDiv #dpTime .menuOn{
    width:18px;
    height:18px;
    line-height:18px;
    text-align:center;
    background:rgb(9, 14, 50);
}

.WdateDiv #dpTime .menuOn{
    background:rgba(255, 255, 255, 0.3);
}

#dpTitle .menuOn {
    background: rgba(255, 255, 255, 0.3);
}

/* .WdateDiv #dpTime td{
    background:#F2F0F1;
} */

.WdateDiv .hhMenu{
    top:-87px;
    left:32px;
}

.WdateDiv .mmMenu{
    top:-47px;
    left:32px;
}

.WdateDiv .ssMenu{
    top:-27px;
    left:32px;
}

.WdateDiv .invalidMenu,.WdateDiv .WinvalidDay{
    color:#aaa;
}

.WdateDiv .WdayOn,.WdateDiv .WwdayOn,.WdateDiv .Wselday,.WdateDiv .WotherDayOn{
    background-color:rgba(255, 255, 255, 0.3);
    color:#fff;
}

.WdateDiv #dpTime #dpTimeUp,.WdateDiv #dpTime #dpTimeDown{
    display:none;
}