#data-content {
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 340px; */
    left: 18%;
    right: 0;
    overflow: hidden;
}

#data-content .toolbar {
    height: 40px;
    line-height: 62px;
    white-space: nowrap;
    position: relative;
}

#data-content .toolbar .pull-down-list {
    display: inline-block;
}

#data-content .toolbar .btn {
    position: absolute;
    top: 14px;
    right: 50px;
    width: 80px;
    height: 26px;
    line-height: 26px;
}

.data-box {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    overflow: hidden;
}

#history-div {
    position: absolute;
    width: 1200px;
    height: 360px;
    border: 1px solid rgb(83, 187, 235);
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
    display: none;
}

#history-div .title {
    background: rgb(83, 187, 235);
    margin-top: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgb(83, 187, 235);
    text-indent: 10px;
    color: #000;
    font-weight: bold;
}

#history-div .title i {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

#history-div .title i:hover {
    color: #333;
}

#history-div .box {
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1)
}

.detail-box {
    position: absolute;
    width: 1000px;
    /* height: 360px; */
    border: 1px solid rgb(83, 187, 235);
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
    display: none;

}

.detail-box .detail-content {
    /* overflow-y: scroll; */
    padding-bottom: 30px;
}

.detail-box .title {
    background: rgb(83, 187, 235);
    margin-top: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgb(83, 187, 235);
    text-indent: 10px;
    color: #000;
    font-weight: bold;
}

.detail-box .title i {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.detail-box .title i:hover {
    color: #333;
}

.detail-box .box {
    position: absolute;
    top: 50px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1)
}

.detail-content .detail-title {
    padding-left: 50px;
}

.section-container {
    margin-top: 10px;
    padding-left: 100px;
    padding-top: 13px;
}

.section-container label {
    display: inline-block;
    width: 113px;
}

.section-container .div-name {
    display: inline-block;
    margin-right: 100px;
    width: 200px
}

@media screen and (max-width: 1600px) {
    /* #data-content{
        left: 320px;
    } */

    #type-list {
        margin-left: 118px;
    }
}

/*纵向时间轴*/
.time-vertical {
    list-style-type: none;
    border-left: 1px solid #707070;
    margin-left: 100px;
    height: 285px;
}

.time-vertical li {
    height: 68px;
    position: relative;
}

.time-vertical li a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
}

.time-vertical li b:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(83, 187, 235);
    border-radius: 10px;
    background: rgb(83, 187, 235);
}

.time-vertical li span {
    position: absolute;
    color: #fff;
    top: 18px;
    left: -6px;
}