<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>javascript 基础</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="content">
        <h1>javascript基本数据类型</h1>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 slider-menu">
      <ul class="list-item" id="listItem"></ul>
    </div>
  </div>
</body>
<script>




</script>

</html>